@font-face {
    font-family: $font_Moon_2;
    src: url(../../dist/font/MOON-2.0-FREE/Moon2.0-Regular.otf);
}

@font-face {
    font-family: $font_pams_hand;
    src: url(../../dist/font/pams-hand/pams_hand.ttf);
}
@font-face {
    font-family: $font_Moon_light;
    src: url(../../dist/font/MOON-2.0-FREE/Legacy-MOON-Files/Moon-Bold.otf);
}

@font-face {
    font-family: $font_Moon_bold;
    src: url(../../dist/font/MOON-2.0-FREE/Legacy-MOON-Files/Moon-Light.otf);
}


.pams-hand-font{
    font-family: $font_pams_hand
}
.moon-2-font{
    font-family: $font_Moon_2
}
.moon-light-font{
    font-family: $font_Moon_light
}
.moon-bold-font{
    font-family: $font_Moon_bold
}


//sizes

.font-0{
    font-size: 0.7rem;
}
.font-1{
    font-size: 0.95rem;
}
.font-2{
    font-size: 1.1rem;
}
.font-3{
    font-size: 1.4rem;
}
.font-4{
    font-size: 2.5rem;
}
.font-6{
    font-size: 5rem;
}




//color
.font-grey-light{
    color: $light-grey;
}
.font-grey{
    color: $grey;
}
.font-grey-dark{
    color: $grey-dark;
}




//media queries

@media screen and (max-width: 600px) {
   .font-0{
        font-size: 0.4rem;
    }
   .font-1{
        font-size: 0.7rem;
    }
    .font-2{
        font-size: 0.8rem;
    }
    .font-3{
        font-size: 1rem;
    }
   .font-4{
        font-size: 1.4rem;
    }
   .font-6{
    font-size: 2.5rem;
    }
}

@media screen and (max-width: 840px) {
   .font-0{
        font-size: 0.55rem;
    }
   .font-1{
        font-size: 0.8rem;
    }
    .font-2{
        font-size: 0.95rem;
    }
    .font-3{
        font-size: 1.2rem;
    }
   .font-4{
        font-size: 1.7rem;
    }
   .font-6{
    font-size: 3.5rem;
    }
}