$blue:#222122;
$secondary: #ffde31;
$mid-grey:#aeaeae;
$grey:#7b7b7b;
$grey-dark:#616060;
$grey-bg:#eeeeee;
$font_Moon_bold:"Moon-Bold";
$font_Moon_light:"Moon-Light";
$font_Moon_2:"Moon2.0-Regular";
$font_pams_hand:"Pam's Hand";
